body {
    position:relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.PopUp2002 {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    background-color: #f00000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: none;
    border: black;
    border: solid;
}

.PopUp2003 {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    background-color: #f00000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: none;
    border: black;
    border: solid;
}

.PopUp2004 {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    background-color: #f00000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: none;
    border: black;
    border: solid;
}

.PopUp2005 {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    background-color: #f00000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: none;
    border: black;
    border: solid;
}

.Room {
    font-family: Arial Black;
    font-size: 300%;
}

.Content {
    font-family: Arial Black;
    font-size: 150%;
}

.hide {
    font-family: Arial Black;
    font-size: 150%;
    text-align: right;
}

.return {
    position: absolute;
    top: 1%;
    left: 1%;
    height: 8%;
}